@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #18191a;
}

.header {
    background-color: #242526;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #b0b3b8;
}

.flex {
    font-size: 25px;
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 0 25px;
}

img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.fa-square-facebook {
    color: #1d65f3;
}

.fa-square-twitter {
    color: #4e86db;
}

.fa-square-instagram {
    color: rgb(223, 34, 144);
}

.fa-telegram {
    color: #53bae2;
}

.fa-linkedin {
    color: rgb(0, 204, 255);
}

.fa-square-youtube {
    color: rgb(238, 7, 7);
}