@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --box-color: #242526;
    --box-border-rad: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #18191a;
}

/* HEADER */

.header {
    background-color: #242526;
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    gap: 10px;
    height: 90px;
    z-index: 1;
}

a {
    text-decoration: none;
    color: #b0b3b8;
}

ul {
    list-style-type: none;
}

.left-nav {
    flex: 25%;
    width: 100%;
    padding-top: 5px;
}

.logo_search {
    display: flex;
    justify-content: flex-start;
}

#fb_logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#fb_btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.fa-magnifying-glass, .fa-arrow-left {
    padding: 14px 0 13px 13px;
    color: #adafb4;
    background-color: #3a3b3c;
    margin-left: 10px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

/* .fa-arrow-left:hover {
    background-color: #4c4c4d;
} */

.fa-arrow-left {
    cursor: pointer;
}

#search {
    padding: 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 70%;
    color: #e4e6eb;
    background-color: #3a3b3c;
    border: none;  
}

textarea::placeholder, input::placeholder {
    color: #adafb4;
}

textarea::placeholder {
    font-size: 15px;
}

input:focus, textarea:focus {
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
-webkit-appearance: none;
}
input[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}

.middle-nav {
    width: 100%;
    flex: 50%;
    display: flex;
    font-size: 25px;
}

.main-nav {

    width: 100%;
    display: flex;
    justify-content: space-between;
}

.right-nav {
    flex: 25%;
    display: flex;
    justify-content: flex-end;
}

.right-side-nav {
    width: 70%;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}

.side-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 2px;
}

.side-pic:hover {
    opacity: 0.8;
}

.active {
    background-color: blue;
  }

.bg {
    padding: 12px 40px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.bg:hover {
    background-color: #373738;
}

.nav-side {
    background-color: #373738;
    padding: 12px;
    border-radius: 50%;
}

.nav-side:hover {
    background-color: #4c4c4d;
}

.tooltip-menu {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 13px;
    background-color: #fcf6f6;
    color: #0a0a0a;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    padding: 10px 15px;
    z-index: 1;
    bottom: -15px;
    opacity: 0.7;
    right: 190px;
    visibility: hidden;
}

#menu:hover + .tooltip-menu {
    visibility: visible;
}

.tooltip-messenger {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 13px;
    background-color: #fcf6f6;
    color: #0a0a0a;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    padding: 10px;
    z-index: 1;
    bottom: -15px;
    opacity: 0.7;
    right: 120px;
    visibility: hidden;
}

#messenger:hover + .tooltip-messenger {
    visibility: visible;
}



.tooltip-bell {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 13px;
    background-color: #fcf6f6;
    color: #0a0a0a;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    padding: 10px;
    z-index: 1;
    bottom: -15px;
    right: 57px;
    opacity: 0.7;
    visibility: hidden;
}

#bell:hover + .tooltip-bell {
    visibility: visible;
}

.tooltip-profile {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 13px;
    background-color: #fcf6f6;
    color: #0a0a0a;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    padding: 10px 15px;
    z-index: 1;
    bottom: -15px;
    right: 15px;
    opacity: 0.7;
    visibility: hidden;
}

#profile:hover + .tooltip-profile {
    visibility: visible;
}

/* #img {
    margin-top: 12px;
} */


#facebook:hover, #facebook:active {
    color: #1d65f3;
}

#twitter:hover, #twitter:active {
    color: #4e86db;
}

#telegram:hover, #telegram:active {
    color: #53bae2;
}

#linked-in:hover, #linked-in:active {
    color: rgb(0, 204, 255);
}

#github:hover, #github:active {
    color: #e78585;
}


/* MAIN */

.main {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 90px;
}

/*Main Profile */

#aside-left {
    flex: 25%;
    margin: 30px 0 30px 20px;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.stop-scroll {
    position: fixed;
    bottom: 0;
}

.info {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex-direction: column;
    background-color: var(--box-color);
    border-radius: var(--box-border-rad);
    padding: 10px;
    height: 100%;
}

.img-container {
    width: 60%;
    margin: 15px auto;
}

.pic-square {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

hr {
    width: 90%;
    margin: auto;
    color: rgb(173, 171, 202);
    opacity: 0.080;
    border-style: solid;
}

.basic-info {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 15px 5%;
}
.info-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: start;
    width: 100%;
    font-size: 17px;
}

.h2-name {
    font-weight: 500;
}

.fw {
    font-weight: 300;
}

.pr {
    padding-right: 10px;
}

.education {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 10px;
}

.educ {
    display: flex;
    justify-content: flex-start;
    font-weight: 300;
    padding-bottom: 20px;
}

.fa-graduation-cap {
    padding: 0 10px 0 0;
}

.hobbies {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 10px;
}

.hobbies-container {
    flex-wrap: wrap;
    display: flex;
    text-align: start;
    padding: 10px;
    gap: 10px;
}



.bg-c {
    background-color: #EB455F;
    padding: 10px 20px;
    border-radius: 5px;
}

.music {
    background-color: #FF0032;
}

.anime {
    background-color: #F94A29;
}


.photos-header {
    display: flex;
    padding-left: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
}

.photos-header a {
    color: #e4e6eb;
}

.photos-header a .pho:hover{
    text-decoration: underline;
}

.photos-header a .bl:hover {
    background-color: #424242;
}

.pho {
    padding: 10px 10px 10px 0;
}

.bl {
    padding: 10px;
    color: #4599ff;
    border-radius: 5px;
}

.mini {
    width: 90px;
    height: 90px;
    transition: opacity 0.3s all;
}

.mini:hover {
    opacity: 0.7;
    cursor: pointer;
  }

#yellow {
    color: #fdc451;
}

.yellow {
    color: #fdc451;
}


/* Main Content */

.main-content {
    flex: 50%;
    width: 100%;
    margin: 30px 0;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
}

.post {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: var(--box-color);
    border-radius: var(--box-border-rad);
    padding: 20px;
    width: 100%;
}

.larger-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.write-post {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
}

.text-post {
    width: 100%;
    margin: auto;
    padding: 15px;
    border: none;
    border-radius: 20px;
    color: #e6eaf0;
    background-color: #3a3b3c;
    resize: none;
    overflow: hidden;
    height: auto;
}

.text-post:hover {
    background-color: #545657;
    cursor: pointer;
}

.post-hr {
    width: 100%;
}

.add-options {
    display: flex;
    padding-top: 5px;
    margin-top: 10px;
}

.add-opt {
    padding: 10px 40px;
    border-radius: 10px;
}

.add-opt:hover {
    background-color: #373738;
}

.add-icons {
    flex: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 .add-icons a {
    font-size: 20px;
    color: #f33e58;
}

.share {
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    background-color: orange;
    font-weight: 500;
    cursor: pointer;
    color: #0a0a0a;
}

/* News feed */

.news-feed {
    background-color: #242526;
    display: flex;
    padding: 10px;
    width: 100%;
    border-radius: var(--box-border-rad);
}

.posted {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.user-profile {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.users-info {
    width: 100%;
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.caption {
    color:  white;
}

.hr-news {
    width: 100%;
}

/* POST ON NEWS FEED */

.photos {
    display: flex;
    gap: 5px;
    width: 100%;
    height: 100%;
}

.wanda {
    width: 32.90%;
}

.video {
    width: 100%;
    height: 500px;
}

.kim {
    width: 50%;
}

.hacker {
    width: 100%;
    height: 500px;
}

.blue {
    color: #53bae2; 
}

.user, .username {
    font-weight: 400;
    color: rgb(240, 235, 235);
}

.user:hover {
    text-decoration: underline;
}

.fa-earth-americas {
    margin-left: 3px;
}

.dot {
    position: relative;
    bottom: 4px;
    margin-left: 3px;
    color: white;
}

.ellipsis {
    padding: 10px;
    border-radius: 50%;
}

.ellipsis:hover {
    background-color: #353738;
}

.fa-circle-check {
    color: rgb(45, 163, 231);
    position: relative;
    bottom: 2.5px;
    margin-left: 5px;
    font-size: 12px;
    border-radius: 50%;
    background-color: white;
}

.metrics {
    display: flex;
    justify-content: space-between;
}
















.reactions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.react {
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    width: 100%;
}

.react span {
    padding: 10px;
}

.red, i.red {
    color: #f33e58;
}

.wow {
    color: #f7b125;
}

.engagements {
    display: flex;
    font-size: 14px;
}

.ml {
    margin-left: 5px;
    font-size: 13px;
}

.react-wrapper {
    display: flex;
}

.million {
    padding-left: 5px;
    font-size: 14px;
}

.million:hover {
    text-decoration: underline;
}

.lower {
    padding-top: 10px;
    color: rgb(219, 213, 213);
    padding-left: 10px;
}

.lower:hover {
    cursor: pointer;
    background-color: #3a3b3c;
    border-radius: 5px;
}

.down {
    gap: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
}

.down:hover {
    cursor: pointer;
    background-color: #3a3b3c;
}

/* 
.link {
    border: 1px solid #f33e58;
} */

.react-pic {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    flex: 50%;
    margin-top: 5px;
}

.caret {
    flex: 50%;
    color: rgb(219, 213, 213);
    padding: 10px 0;
}












.side {
    display: flex;
    flex-direction: column;
    flex: 25%;
    margin: 30px 20px 30px 0;
    row-gap: 10px;
}

.friend-req {
    gap: 10px;
    background-color: var(--box-color);
    border-radius: var(--box-border-rad);
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    color: #e6eaf0;
    text-align: center;
    padding: 20px;
    gap: 20px;
}

.friend-req-header {
    display: flex;
    justify-content: space-between;
}

.h4 {
    font-size: 1em;
}

.h5 {
    color: #979797;
}

.profile-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    color: #e6eaf0;
}


.mark {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

.request-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.accept-btn {
    border: none;
    padding: 10px 30px;
    background-color: #2374e1;
    border-radius: 5px;
}

.accept-btn:hover {
    cursor: pointer;
    background-color: #4888db;
}

.delete-btn {
    border: none;
    padding: 10px 30px;
    background-color: #545657;
    border-radius: 5px;
}

.delete-btn:hover {
    cursor: pointer;
    background-color: #707274;
}


